---
apiVersion: v1
kind: Service
metadata:
  name: usersvc
  labels:
    app.kubernetes.io/name: usersvc
    app.kubernetes.io/instance: 0.1.0
  annotations:
    a8r.io/description: "Primary service for usersvc pods"
    a8r.io/owner: "Dave Sudia"
    a8r.io/repository: "https://github.com/ambassadorlabs/edge-stack-overview"
    a8r.io/rollouts.scm.url: https://github.com/ambassador-labs/edge-stack-overview.git
    a8r.io/rollouts.scm.path: deploy/usersvc
    a8r.io/rollouts.scm.branch: main
    a8r.io/rollouts.image-repo.type: docker
    a8r.io/rollouts.image-repo.name: thedevelopnik/es-overview-usersvc
    a8r.io/rollouts.deployment: usersvc
    a8r.io/rollouts.mappings: usersvc-mapping
spec:
  type: ClusterIP
  ports:
    - port: 4000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: usersvc
    app.kubernetes.io/instance: 0.1.0
---
apiVersion: v1
kind: Service
metadata:
  name: usersvc-canary
  labels:
    app.kubernetes.io/name: usersvc
    app.kubernetes.io/instance: 0.1.0
  annotations:
    a8r.io/description: "Canary service for usersvc pods"
    a8r.io/owner: "Dave Sudia"
    a8r.io/repository: "https://github.com/ambassadorlabs/edge-stack-overview"
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: usersvc
    app.kubernetes.io/instance: 0.1.0
