---
apiVersion: v1
kind: Service
metadata:
  name: websvc
  labels:
    app.kubernetes.io/name: websvc
    app.kubernetes.io/instance: 0.1.0
  annotations:
    a8r.io/description: "Primary service for websvc pods"
    a8r.io/owner: "Dave Sudia"
    a8r.io/repository: "https://github.com/ambassadorlabs/edge-stack-overview"
    a8r.io/dependencies: "chatsvc, usersvc"
    a8r.io/rollouts.scm.url: https://github.com/ambassador-labs/edge-stack-overview.git
    a8r.io/rollouts.scm.path: deploy/websvc
    a8r.io/rollouts.scm.branch: main
    a8r.io/rollouts.image-repo.type: dockerhub
    a8r.io/rollouts.image-repo.name: thedevelopnik/es-overview-websvc
    a8r.io/rollouts.deployment: websvc
    a8r.io/rollouts.mappings: websvc-mapping
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: websvc
    app.kubernetes.io/instance: 0.1.0
---
apiVersion: v1
kind: Service
metadata:
  name: websvc-canary
  labels:
    app.kubernetes.io/name: websvc
    app.kubernetes.io/instance: 0.1.0
  annotations:
    a8r.io/description: "Canary service for websvc pods"
    a8r.io/owner: "Dave Sudia"
    a8r.io/repository: "https://github.com/ambassadorlabs/edge-stack-overview"
    a8r.io/dependencies: "chatsvc, usersvc"
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: websvc
    app.kubernetes.io/instance: 0.1.0
